@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --images---dark-chair: #f6f6f6;

  --grey: #726e8d;
}

body {
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
